@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900,900italic&display=swap');

$default-fontfamily: 'Nunito';
$elegant-fontfamily: 'Lato';
$base-font-size: 16;
$font-xl: px-to-em(48);

